@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background-color: black;
  justify-content: center;
  display: flex;
}
p {
  color: rgb(218, 0, 0);
}
.main {
  margin-top: 80px;
  width: 70vh;
  height: auto;
}
.title {
  color: rgb(230, 10, 10);
  text-align: center;
  font-size: 80px;
  margin-top: 0px;
}
.main > p {
  margin-top: 25px;
  text-align: center;
}
.images {
  margin: 0px auto;
  width: 1000px;
}
#images {
  padding: 10px 0px;
  display: block;
}
#image-caption {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
}
.tribute {
  margin: 30px 30px;
}
ul li {
  padding: 10px 0;
}
#links {
  margin: 30px 30px;
}
a {
  display: block;
  color: rgb(11, 123, 221);
}
